@font-face{
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat';
  font-weight: 400;
  word-wrap: break-word;
  overflow-x: hidden;
  text-align: center;
  color: #000;
}

a,
a:hover{
  text-decoration: none;
}

li{
  list-style: none;
}

input:focus{
  outline-style: none;
}

.btn{
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-repeat: no-repeat;
  overflow: visible;
  border: none;
}

.btn:focus{
  outline-style: none;
}

.btn--feedback{
  background-color: #FF530D;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 18px;
}

.form__btn{
  padding: 12px 78px;
}

.section-title{
  font-weight: 500;
}

#toggle{
  display: none;
}

.burger-icon{
  width: 28px;
  height: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11px;
  left: 18px;
  z-index: 150;
}

.burger-icon__line{
  width: 100%;
  height: 3px;
  background-color: #6D6D6D;
  position: relative;
  transition: transform 0.4s ease;
}

.burger-icon__line::before{
  content: '';
  position: absolute;
  left: 0;
  top: -6px;
  width: 100%;
  height: 3px;
  background-color: #6D6D6D;
  transition: transform 0.4s ease;
}

.burger-icon__line::after{
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 100%;
  height: 3px;
  background-color: #6D6D6D;
  transition: transform 0.4s ease;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__img{
  width: 50px;
  height: 50px;
}

.logo__text{
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  margin-left: 13px;
}

.page-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon__item img{
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 320px) {
  .main-nav__descktop{
    display: none;
  }

  .page-header__phone{
    display: none;
  }

  .page-header__languages{
    display: none;
  }

  .page-header{
    background-color: #fff;
    padding: 6px 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
  }

  .logo__img{
    width: 25px;
    height: 25px;
  }

  .logo__text{
    font-size: 10px;
    line-height: 13px;
    margin-left: 3px;
  }

  .main-nav__mobile{
    position: absolute;
    top: 0;
    width: 95%;
    height: 100vh;
    z-index: 110;
    background-color: #3F5765;
    color: #fff;
    padding: 18px 0;
    transform: translate(-100%);
    transition: transform 0.4s ease;
  }

  #toggle:checked ~ .page-header__nav .main-nav__mobile{
    transform: translate(0);
  }

  #toggle:checked ~ .burger-icon .burger-icon__line{
    transition: transform 0.4s ease;
    background-color: transparent;
  }

  #toggle:checked ~ .burger-icon .burger-icon__line::before{
    transition: transform 0.4s ease;
    transform: rotate(45deg);
    background-color: #fff;
    top: 6px;
  }

  #toggle:checked ~ .burger-icon .burger-icon__line::after{
    transition: transform 0.4s ease;
    transform: rotate(-45deg);
    background-color: #fff;
  }

  .menu-text{
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 9px;
  }

  .main-nav__list--mobile{
    padding-top: 32px;
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

  }

  .main-nav__item{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 18px;
  }

  .main-nav__item a{
    color: #fff;
  }

  .icon--mobile{
    padding-top: 18px;
  }

  .icon__item{
    width: 21px;
    height: 21px;
    cursor: pointer;
    margin: 0 10px;
  }

  .icon__img path{
    fill: #fff;
    width: 21px;
    height: 21px;
  }

  .icon__img:hover path{
    fill: #FF530D;
  }

  .home{
    padding-top: 25px;
    width: 100%;
    position: relative;
  }

  .slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .slider__inner{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .slider__area{
    display: flex;
    flex-direction: row;
    width: calc(100% * 3);
    top: 0;
    left: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .slider__item{
    height: 551px;
    width: 320px;
    position: relative;
  }

  .slider__img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
  }

  .slider__item:nth-child(1){
    background-image: url('./images/header-slide-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slider__item:nth-child(2){
    background-image: url('./images/header-slide-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slider__item:nth-child(3){
    background-image: url('./images/header-slide-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slider__title,
  .slider__text{
    display: none;
  }

  .slider__controls{
    position: absolute;
    top: calc(100% + 68px);
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .slider__control{
    width: 50px;
    height: 20px;
    cursor: pointer;
    margin: 0 9px;
  }

  .slider__arrow{
    width: 100%;
    height: 100%;
    width: 32px;
    height: 12px;
  }

  .slider__arrow path{
    fill: none;
  }

  .home__feedback{
    background-color: rgba(43, 58, 66, 0.86);
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    width: 250px;
  }

  .feedback__title{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
    margin-bottom: 15px;
  }

  .feedback__form{
    width: 100%;
  }

  .form__item{
    width: 210px;
    height: 14px;
    margin-bottom: 19px;
    padding: 9px 17px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
  }

  .form__item:focus{
    font-size: 14px;
    font-weight: 500;
  }

  .form__text{
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    color: #fff;
    margin-bottom: 15px;
    text-align: justify;
  }

  .form__btn{
    margin-bottom: 18px;
  }

  .useful-links{
    position: absolute;
    left: 0;
    bottom: -70px;
    padding: 5px 10px 40px 10px;
    background-color: #fff;
    display: flex;
  }

  .useful-links__item{
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .useful-links__item:nth-child(3){
    display: none;
  }

  .useful-links__item--middle{
    position: relative;
  }

  .useful-links__item--middle::before{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -5px;
    background-color: #FF530D;
  }

  .useful-links__img{
    width: 140px;
    height: 70px;
    order: 1;
  }

  .useful-links__img img{
    width: 100%;
    height: 100%;
  }

  .useful-links__title{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    order: 0;
    margin-bottom: 5px;
  }

  .useful-links__text{
    display: none;
  }

  .section-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
  }

  .product{
    margin-top: 40px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product__wrapper--desktop{
    display: none;
  }

  .slider__area--product{
    width: calc(100% * 8);
    padding-top: 15px;
    padding-bottom: 50px;
  }

  .product__item{
    width: 270px;
    padding: 17px 15px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #BDD4DE;
  }

  .product__img{
    width: 100px;
    height: 90px;
    margin-bottom: 10px;
  }

  .product__name{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 10px;
  }

  .product__text{
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    margin-bottom: 40px;
  }

  .slider__controls--product{
    top: calc(100% - 40px);
  }

  .equipment{
    padding-top: 50px;
    position: relative;
  }

  .equipment__title{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
  }

  .equipment__left{
    margin-top: 50px;
    width: 100%;
    height: 190px;
  }

  .equipment__img{
    width: 100%;
    height: 100%;
  }

  .equipment__right{
    padding: 20px 15px;
  }

  .equipment__desc{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-bottom: 15px;
  }

  .equipment__text{
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
  }

  .equipment__text br{
    content: '';
    display: block;
    height: 16px;
  }

  .about{
    padding-top: 50px;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__title{
    order: 0;
    margin-bottom: 20px;
  }

  .about__img{
    order: 1;
    width: 100%;
    height: 190px;
    margin: 20px;
  }

  .about__img img{
    width: 100%;
    height: 100%;
  }

  .about__desc{
    order: 2;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    padding: 0 15px;
    margin-bottom: 15px;
  }

  .about__text{
    order: 3;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    padding: 0 15px;
  }

  .about__text br{
    content: '';
    display: block;
    height: 16px;
  }

  .review{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review__img{
    width: 100%;
    height: 400px;
  }

  .review__img img{
    width: 100%;
    height: 100%;
  }

  .review__slider{
    margin-top: -50px;
    width: 100%;
    position: relative;
  }

  .slider__inner--review{
    width: 220px;
    height: 250px;
  }

  .slider__area--review{
    width: calc(100% * 3);
  }

  .review__item{
    position: relative;
    width: 220px;
    background-color: #2B3A42;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .review__quotes{
    position: absolute;
    top: 5px;
    left: 8px;
    width: 11px;
    height: 9px;
  }

  .review__quotes img{
    width: 100%;
    height: 100%;
  }

  .slider__text--review{
    display: flex;
    margin: 20px 8px;;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    color: #fff;
  }

  .slider__author{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: right;
    color:#BDD4DE;
    padding-bottom: 10px;
  }

  .slider__number--review{
    position: absolute;
    left: 8px;
    bottom: 10px;
    color:#BDD4DE;
    font-weight: 600;
  }

  .review__controls{
    position: absolute;
    left: 5%;
    bottom: 30%;
    transform: translateY(-50%);
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .review__control{
    width: 14px;
    height: 30px;
  }

  .review__left{
    width: 14px;
    height: 30px;
  }

  .review__right{
    width: 14px;
    height: 30px;
  }

  .services{
    padding-top: 50px;
  }

  .services__title{
    margin-bottom: 30px;
  }

  .services__wrapper--desktop{
    display: none;
  }

  .slider__area--services{
    width: calc(100% * 8);
    padding-top: 15px;
    padding-bottom: 55px;
  }

  .card{
    width: 90%;
    padding: 20px 15px;
    margin: 0 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .card__title{
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 10px;
    width: 100%;
  }

  .card__text{
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    height: 200px;
    width: 270px;
    overflow: hidden;
  }

  .card__price{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin: 20px 0;
  }

  .card__more{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    cursor: pointer;
    width: 90%;
  }

  .slider__controls--services{
    top: calc(100% - 37px);
  }

  .page-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E2C34;
  }

  .page-footer__company{
    display: none;
  }

  .page-footer__contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 15px;
    color: #fff;
  }

  .contact__title{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 15px
  }

  .contact__item{
    padding-left: 30px;
    margin-bottom: 15px;
    position: relative;
  }

  .contact__item::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
  }

  .contact__item:nth-child(1)::before{
    background-image: url('./images/icons/Геолокация.svg');
    background-position: top left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .contact__item:nth-child(2)::before{
    background-image: url('./images/icons/Телефон.svg');
    background-position: top left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .contact__item:nth-child(3)::before{
    background-image: url('./images/icons/Почта.svg');
    background-position: top left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .contact__item:nth-child(4)::before{
    background-image: url('./images/icons/Соц.сети.svg');
    background-position: top left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .contact__text{
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
  }

  .contact__icon{
    justify-content: flex-start;
    margin-top: 10px;
  }

  .page-footer__feedback{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;
  }

  .page-footer__feedback-title{
    padding-left: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #fff;
    width: 90%;
  }

  .page-footer__form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 280px;
  }

  .form__item--footer{
    width: 240px;
  }

  .form__item--textarea{
    height: 126px;
    overflow-x: hidden;
  }

  .form__btn--footer{
    padding: 12px 50px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 375px) {
  .slider__item{
    width: 375px;
  }

  .useful-links__img{
    width: 160px;
    height: 100px;
  }

  .product__item{
    width: 325px;
  }

  .equipment__left{
    height: 250px;
  }

  .about__img{
    height: 250px;
  }

  .slider__inner--review{
    width: 270px;
  }

  .review__item{
    width: 270px;
  }

  .card{
    width: 325px;
  }
}

@media only screen and (min-width: 414px) {
  .slider__item{
    width: 414px;
  }

  .useful-links__item{
    margin: 0 15px;
  }

  .useful-links__item--middle::before{
    left: -15px;
  }

  .useful-links__title{
    margin-bottom: 10px;
  }

  .product__item{
    padding: 20px 25px;
    margin: 0 25px;
    width: 314px;
  }

  .equipment__right{
    padding: 20px 30px;
  }

  .about__desc{
    padding: 0 30px;
  }

  .about__text{
    padding: 0 30px;
  }

  .review__img{
    height: 500px;
  }

  .slider__inner--review{
    width: 300px;
  }

  .review__item{
    width: 300px;
  }

  .card{
    width: 324px;
    margin: 0 30px;
  }
}

@media only screen and (min-width: 1920px) {
  .page-header{
    padding: 27px 44px;
    box-shadow: none;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
  }

  .active{
    background-color: #3F5765;
  }

  .burger-icon{
    display: none;
  }

  .logo__text{
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #fff;
  }

  .page-header__phone{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone-number__img{
    width: 21px;
    height: 21px;
  }

  .phone-number__img img{
    width: 100%;
    height: 100%;
  }

  .phone-number__text{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #fff;
    margin-left: 15px;
  }

  .main-nav__mobile{
    display: none;
  }

  .main-nav__descktop{
    display: flex;
  }

  .main-nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-nav__item{
    margin: 0 15px;
  }

  .main-nav__item a{
    padding: 5px 9px;
  }

  .main-nav__item:hover a{
    background-color: #2B3A42;
  }

  .active-link{
    background-color: #2B3A42;
  }

  .main-nav__item{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .page-header__languages{
    display: flex;
    position: relative;
  }

  .language select {
    display: none;
  }

  .select-selected {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
    background-color: transparent;
    border: none;
    outline-style: none;
    position: relative;
  }

  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 5px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    z-index: 200;
  }

  .select-language div,
  .select-selected {
    color: #ffffff;
    padding: 8px 10px;
    padding-right: 25px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
  }

  .select-language {
    position: absolute;
    background-color: #2B3A42;
    top: 100%;
    left: 0;
    right: 0;
    top: 0px;
    z-index: 99;
  }

  .select-language div:hover,
  .same-as-selected{
    color: #FF530D;
  }

  .select-hide{
    display: none;
  }
}

@media only screen and (min-height: 736px) {
  .slider__item{
    height: 620px;
  }

  .home__feedback{
    top: 80px;
  }
}

@media only screen and (min-height: 812px) {
  .slider__item{
    height: 700px;
  }

  .home__feedback{
    top: 120px;
  }
}
